.container {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    height: 120px;
    max-width: 1080px;
    color: white;
    margin-top: 40px;
    text-decoration: none;
  }
  
  .title {
    text-decoration: none;
    color: inherit;
    color: white;
  }
  
  .noUnderline {
    text-decoration: none;
    color: inherit;
  }
  
  .noUnderline h1 {
    text-decoration: none;
  }